/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/color-tokens.js
 */

$color-primary: #633370 !default;
$color-on-primary: #C7ABCE !default;
$color-secondary: #b88690 !default;
$color-on-secondary: #3E252A !default;

$base-color-tokens: ("primary", "secondary");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
}